<template>
  <div class="app-container">
    <el-row v-loading="loading">
      <!-- <el-col :span="8">
        <div class="grid-content bg-purple">
          <el-form ref="form" :model="form" label-width="80px">
            <el-form-item label="User ID">
              <el-input v-model="form.name" />
            </el-form-item>
            <el-form-item label="Account ID">
              <el-select v-model="form.region" placeholder="please select your zone">
                <el-option label="Zone one" value="shanghai" />
                <el-option label="Zone two" value="beijing" />
              </el-select>
            </el-form-item>
            <el-form-item label="Subscription ID">
              <el-col :span="11">
                <el-date-picker v-model="form.date1" type="date" placeholder="Pick a date" style="width: 100%;" />
              </el-col>
              <el-col :span="2" class="line">-</el-col>
              <el-col :span="11">
                <el-time-picker v-model="form.date2" type="fixed-time" placeholder="Pick a time" style="width: 100%;" />
              </el-col>
            </el-form-item>
            <el-form-item label="Plugin ID">
              <el-switch v-model="form.delivery" />
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="onSubmit">Create</el-button>
              <el-button @click="onCancel">Cancel</el-button>
            </el-form-item>
          </el-form>
        </div>
      </el-col>
      <el-col :span="12">
        <div class="grid-content bg-purple-light">
        </div>
      </el-col> -->
      <el-row :gutter="20">
        <el-col :span="9">
          <div class="grid-content bg-purple">
            <el-form ref="form" :model="form" label-width="200px">
              <el-form-item label="User ID">
                <el-input v-model="form.user_id"></el-input>
              </el-form-item>
              <el-form-item label="Account ID">
                <el-input v-model="form.account_id"></el-input>
              </el-form-item>
              <el-form-item label="Subscription ID">
                <el-input v-model="form.subscription_id"></el-input>
              </el-form-item>
              <el-form-item label="Plugin ID">
                <el-input v-model="form.plugin_id"></el-input>
              </el-form-item>
              <el-form-item label="ShippingMethod ID">
                <el-input v-model="form.shipping_method_id"></el-input>
              </el-form-item>
              <el-form-item>
                <el-button type="primary" @click="onSubmit">Generate</el-button>
                <el-button type="success" @click="copyData">Copy</el-button>
              </el-form-item>
            </el-form>
          </div>
        </el-col>
        <el-col :span="15">
          <div class="grid-content bg-purple">
            <el-card class="box-card">
              <div class="text item" id="text">
                {{data}}
              </div>
            </el-card>
          </div>
        </el-col>
      </el-row>
    </el-row>
    
  </div>
</template>

<style>
   .el-row {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .el-col {
    border-radius: 4px;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }
</style>

<script>
  import { getSessionData } from '@/api/settings/sessionData'

  export default {
    data() {
      return {
        data: null,
        loading: false,
        form: {
          user_id: '',
          account_id: '',
          subscription_id: '',
          plugin_id: '',
          shipping_method_id: ''
        }
      }
    },
    methods: {
      onSubmit() {
        this.loading = true
        getSessionData(this.form).then(response => {
          this.data = response.data
          this.loading = false
        })
      },
      copyData() {
        var data = document.getElementById('text').innerText;
        console.log(data);
      }
    }
  }
</script>

