<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input v-model="listQuery.id" placeholder="Customer ID" style="width: 150px;" class="filter-item" @keyup.enter.native="handleFilter" />
      <el-input v-model="listQuery.account_id" placeholder="Account ID" style="width: 150px;" class="filter-item" @keyup.enter.native="handleFilter" />
      <el-input v-model="listQuery.store_id" placeholder="Store ID" style="width: 150px;" class="filter-item" @keyup.enter.native="handleFilter" />
      <el-input v-model="listQuery.email" placeholder="Email" style="width: 200px;" class="filter-item" @keyup.enter.native="handleFilter" />
      <el-input v-model="listQuery.platform" placeholder="Platform" style="width: 200px;" class="filter-item" @keyup.enter.native="handleFilter" />
      <el-button v-waves class="filter-item" style="margin-left: 10px;" type="primary" icon="el-icon-search" @click="handleFilter">
        Search
      </el-button>
      <!-- <el-button class="filter-item" style="margin-left: 10px;" type="primary" icon="el-icon-edit" @click="handleCreate">
        Add
      </el-button> -->
    </div>

    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="list"
      border
      highlight-current-row
      style="width: 100%; margin-top:10px"
      @sort-change="sortChange"
    >
      <el-table-column fixed label="ID" prop="id" sortable="custom" align="center" width="80" :class-name="getSortClass('id')">
        <template slot-scope="{row}">
          <span>{{ row.id }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Account ID" width="100px">
        <template slot-scope="{row}">
          <span>{{ row.account_id }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Store" width="80px">
        <template slot-scope="{row}" v-if="!row.store_id">
          <span>/</span>
        </template>
        <template slot-scope="{row}" v-if="row.stores != null ">
          <span>{{ row.store_id }} / {{ row.stores.name }}</span>
        </template>
      </el-table-column>
      <el-table-column label="UserID" width="100px">
        <template slot-scope="{row}">
          <span>{{ row.userId }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Name" min-width="75px">
        <template slot-scope="{row}">
          <span>{{ row.name }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Email" min-width="90px">
        <template slot-scope="{row}">
          <span>{{ row.email }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Phone" min-width="80px">
        <template slot-scope="{row}">
          <span>{{ row.phone }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Platform" min-width="60px">
        <template slot-scope="{row}">
          <span>{{ row.platform }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Category" min-width="60px">
        <template slot-scope="{row}">
          <span>{{ row.category }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Extra data" min-width="60px">
        <template slot-scope="{row}">
          <span>{{ row.extra_data }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Created at" min-width="60px">
        <template slot-scope="{row}">
          <span>{{ row.created_at }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Updated at" min-width="60px">
        <template slot-scope="{row}">
          <span>{{ row.updated_at }}</span>
        </template>
      </el-table-column>
      <el-table-column prop="children" type="expand" width="135" label="Address">
        <template slot-scope="slots">
          <el-table
            :data="slots.row.addresses"
            style="width: 100%;"
            height="500"
            :header-cell-style="{background:'#DCDFE6',color:'#606266'}"
          >
            <el-table-column prop="id" fixed label="ID" width="80"/>
            <el-table-column prop="customer_id" fixed label="Customer ID" width="80"/>
            <el-table-column prop="name" label="Name" min-width="60"/>
            <el-table-column prop="phone" label="Phone" min-width="80"/>
            <el-table-column prop="email" label="Email" min-width="80"/>
            <el-table-column prop="address1" label="Address1" min-width="100"/>
            <el-table-column prop="address2" label="Address2" min-width="80"/>
            <el-table-column prop="address3" label="Address3" min-width="80"/>
            <el-table-column prop="address4" label="Address4" min-width="80"/>
            <el-table-column prop="suburb" label="suburb" min-width="80"/>
            <el-table-column prop="postcode" label="Postcode" width="80"/>
            <el-table-column prop="state" label="State" width="80"/>
            <el-table-column prop="country" label="Country" width="80"/>
            <el-table-column prop="created_at" label="Created At" width="80"/>
            <el-table-column prop="updated_at" label="Updated At" min-width="40"/>
            <el-table-column prop="default_address" label="Default Address" min-width="40"/>
            <!-- <el-table-column label="操作" width="200">
              <template slot-scope="scope">
                <el-button type="text" class="danger-text" @click="handle_delete(scope.row)">删除</el-button>
              </template>
            </el-table-column> -->
          </el-table>
        </template>
      </el-table-column>
      <el-table-column fixed="right" label="Actions" align="center" min-width="80px" class-name="small-padding fixed-width">
        <template slot-scope="{row, $index}">
          <el-button type="primary" title="Edit" size="mini" @click="handleUpdate(row)" icon="el-icon-edit"></el-button>
          <el-button type="danger" title="Delete" size="mini" icon="el-icon-delete" @click="handleDelete(row,$index)"></el-button>
        </template>
      </el-table-column>
    </el-table>
    
    <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.limit" @pagination="getList" />

    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible">
      <el-form ref="dataForm" :rules="rules" :model="temp" label-position="right" label-width="150px" style="width: 420px; margin-left:50px;">
        <el-form-item label="Account ID" prop="account_id">
          <el-input v-model="temp.account_id" />
        </el-form-item>
        <el-form-item label="Store ID">
          <el-input v-model="temp.store_id" />
        </el-form-item>
        <el-form-item label="User ID">
          <el-input v-model="temp.userId" />
        </el-form-item>
        <el-form-item label="Name">
          <el-input v-model="temp.name" />
        </el-form-item>
        <el-form-item label="Email" prop="email">
          <el-input v-model="temp.email" />
        </el-form-item>
        <el-form-item label="Phone">
          <el-input v-model="temp.phone" />
        </el-form-item>
        <el-form-item label="Platform">
          <el-input v-model="temp.platform" />
        </el-form-item>
        <el-form-item label="Category">
          <el-input v-model="temp.category" />
        </el-form-item>
        <el-form-item label="Extra Data">
          <el-input v-model="temp.extra_data" />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">
          Cancel
        </el-button>
        <el-button type="primary" @click="dialogStatus==='create'?createData():updateData()">
          Confirm
        </el-button>
      </div>
    </el-dialog>

    <el-dialog :visible.sync="dialogPvVisible" title="Reading statistics">
      <el-table :data="pvData" border fit highlight-current-row style="width: 100%">
        <el-table-column prop="key" label="Channel" />
        <el-table-column prop="pv" label="Pv" />
      </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="dialogPvVisible = false">Confirm</el-button>
      </span>
    </el-dialog>
  </div>
</template>


<script>
import { fetchList, createCustomer, updateCustomer, deleteCustomer} from '@/api/account/customer'
import waves from '@/directive/waves' // waves directive
import { parseTime } from '@/utils'
import Pagination from '@/components/Pagination' // secondary package based on el-pagination

export default {
  name: 'ComplexTable',
  components: { Pagination },
  directives: { waves },
  data() {
    return {
      tableKey: 0,
      list: null,
      total: 0,
      listLoading: true,
      listQuery: {
        page: 1,
        limit: 20,
        importance: undefined,
        title: undefined,
        type: undefined,
        sort: '+id'
      },
      sortOptions: [{ label: 'ID Ascending', key: '+id' }, { label: 'ID Descending', key: '-id' }],
      // showReviewer: false,
      temp: {
        id: undefined,
        importance: 1,
        remark: '',
        timestamp: new Date(),
        title: '',
        type: '',
        status: 'Published'
      },
      dialogFormVisible: false,
      dialogStatus: '',
      textMap: {
        update: 'Edit',
        create: 'Create'
      },
      dialogPvVisible: false,
      pvData: [],
      rules: {
        type: [{ required: true, message: 'type is required', trigger: 'change' }],
        timestamp: [{ type: 'date', required: true, message: 'timestamp is required', trigger: 'change' }],
        account: [{ required: true, message: 'account is required', trigger: 'blur' }],
        suburb: [{ required: true, message: 'suburb is required', trigger: 'blur' }],
        state: [{ required: true, message: 'state is required', trigger: 'blur' }],
        country: [{ required: true, message: 'country is required', trigger: 'blur' }],
      },
    }
  },
  created() {
    this.getList()
  },
  methods: {
    getList() {
      this.listLoading = true
      fetchList(this.listQuery).then(response => {
        const { items, total } = response.data;
        this.list = items
        this.total = total
        this.listLoading = false
      })
    },
    handleFilter() {
      this.listQuery.page = 1
      this.getList()
    },
    handleModifyStatus(row, status) {
      this.$message({
        message: '操作Success',
        type: 'success'
      })
      row.status = status
    },
    sortChange(data) {
      const { prop, order } = data
      if (prop === 'id') {
        this.sortByID(order)
      }
    },
    sortByID(order) {
      if (order === 'ascending') {
        this.listQuery.sort = '+id'
      } else {
        this.listQuery.sort = '-id'
      }
      this.handleFilter()
    },
    resetTemp() {
      this.temp = {
        id: undefined,
        importance: 1,
        remark: '',
        timestamp: new Date(),
        title: '',
        status: 'Published',
        type: ''
      }
    },
    handleCreate() {
      this.resetTemp()
      this.dialogStatus = 'create'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    createData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          this.temp.id = parseInt(Math.random() * 100) + 1024 // mock a id
          createCustomer(this.temp).then(() => {
            this.list.unshift(this.temp)
            this.dialogFormVisible = false
            this.$notify({
              title: 'Success',
              message: 'Created Successfully',
              type: 'success',
              duration: 2000
            })
          })
        }
      })
    },
    handleUpdate(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.temp.timestamp = new Date(this.temp.timestamp)
      this.dialogStatus = 'update'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    updateData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          const tempData = Object.assign({}, this.temp)
          tempData.timestamp = +new Date(tempData.timestamp) // change Thu Nov 30 2017 16:41:05 GMT+0800 (CST) to 1512031311464
          updateCustomer(tempData).then(() => {
            const index = this.list.findIndex(v => v.id === this.temp.id)
            this.list.splice(index, 1, this.temp)
            this.dialogFormVisible = false
            this.$notify({
              title: 'Success',
              message: 'Update Successfully',
              type: 'success',
              duration: 2000
            })
          })
        }
      })
    },
    handleDelete(row, index) {
        this.$confirm('Are you sure you want to delete the current data', 'Warning', {
        confirmButtonText: 'Confirm',
        cancelButtonText: 'Cancel',
        type: 'warning'
      }).then(async() => {
         this.listLoading = true
         deleteCustomer(row.id).then(res => {
            this.$message.success('Delete success.')
            this.list.splice(index, 1)
            this.listLoading = false
           }).catch(err => {
             this.listLoading = false
             this.$message.errror(err.message)
             })
          }).catch(err => { console.error(err) })
    },
    getSortClass: function(key) {
      const sort = this.listQuery.sort
      return sort === `+${key}` ? 'ascending' : 'descending'
    }
  }
}
</script>
