<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input v-model="listQuery.id" placeholder="Account ID" style="width: 150px;" class="filter-item" @keyup.enter.native="handleFilter" />
      <el-input v-model="listQuery.email" placeholder="Email" style="width: 200px;" class="filter-item" @keyup.enter.native="handleFilter" />
      <el-select v-model="listQuery.status" placeholder="Status" clearable class="filter-item" style="width: 130px">
        <el-option v-for="item in statusTypeOptions" :key="item.key" :label="item.display_name+' / '+item.key" :value="item.key" />
      </el-select>
      <el-select v-model="listQuery.type" placeholder="Type" clearable class="filter-item" style="width: 130px">
        <el-option v-for="item in accountTypeOptions" :key="item.key" :label="item.display_name+' / '+item.key" :value="item.key" />
      </el-select>
      <el-button v-waves class="filter-item" style="margin-left: 10px;" type="primary" icon="el-icon-search" @click="handleFilter">
        Search
      </el-button>
      <!-- <el-button class="filter-item" style="margin-left: 10px;" type="primary" icon="el-icon-edit" @click="handleCreate">
        Add
      </el-button> -->
      <!-- <el-button v-waves :loading="downloadLoading" class="filter-item" type="primary" icon="el-icon-download" @click="handleDownload">
        Export
      </el-button> -->
    </div>

    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%; margin-top:10px"
      @sort-change="sortChange"
    >
      <el-table-column fixed label="ID" prop="id" sortable="custom" align="center" width="80" :class-name="getSortClass('id')">
        <template slot-scope="{row}">
          <span>{{ row.id }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Email" min-width="50px" align="center">
        <template slot-scope="{row}">
          <span>{{ row.email }}</span>
        </template>
      </el-table-column>
      <el-table-column label="CompanyName" min-width="75px" align="center">
        <template slot-scope="{row}">
          <span>{{ row.companyName }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Phone" min-width="75" align="center">
        <template slot-scope="{row}">
          <span>{{ row.phone }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Address" min-width="80px" align="center">
        <template slot-scope="{row}">
          <span>{{ row.address }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Status" width="100px" align="center">
        <template slot-scope="{row}">
          <el-tag :type="row.status | statusTypeFilter">
            {{ row.status | statusTypeFilter }}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column label="Type" width="100px" align="center">
        <template slot-scope="{row}">
          <el-tag :type="row.type | accountTypeFilter">
            {{ row.type | accountTypeFilter }}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column label="Created at" min-width="60px" align="center">
        <template slot-scope="{row}">
          <span>{{ row.created_at }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Updated at" min-width="60px" align="center">
        <template slot-scope="{row}">
          <span>{{ row.updated_at }}</span>
        </template>
      </el-table-column>
      <el-table-column fixed="right" label="Actions" align="center" min-width="120" class-name="small-padding fixed-width">
        <template slot-scope="{row, $index}">
          <el-button @click="drawerInfo(row)" type="success" size="mini">Detail</el-button>
          <el-button type="warning" size="mini" @click="handleSwitch(row, $index)">Switch</el-button>
          <el-button type="primary" size="mini" @click="handleUpdate(row)">Edit</el-button>
          <!-- <el-button v-if="row.status!='Published'" size="mini" type="success" @click="handleModifyStatus(row,'Published')">
            Publish
          </el-button>
          <el-button v-if="row.status!='draft'" size="mini" @click="handleModifyStatus(row,'draft')">
            Draft
          </el-button> -->
          <!-- <el-button v-if="row.status!='deleted'" size="mini" type="danger" @click="handleDelete(row,$index)">
            Delete
          </el-button> -->
        </template>
      </el-table-column>
    </el-table>
    
    <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.limit" @pagination="getList" />

    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible">
      <el-form ref="dataForm" :rules="rules" :model="temp" label-position="right" label-width="150px" style="width: 420px; margin-left:50px;">
        <el-form-item label="Account ID" prop="account">
          <el-input v-model="temp.id" />
        </el-form-item>
        <el-form-item label="Email" prop="suburb">
          <el-input v-model="temp.email" />
        </el-form-item>
        <el-form-item label="Nickname" prop="state">
          <el-input v-model="temp.nickname" />
        </el-form-item>
        <el-form-item label="CompanyName" prop="country">
          <el-input v-model="temp.companyName" />
        </el-form-item>
        <el-form-item label="ABN">
          <el-input v-model="temp.ABN" />
        </el-form-item>
        <el-form-item label="Phone">
          <el-input v-model="temp.phone" />
        </el-form-item>
        <el-form-item label="Address">
          <el-input v-model="temp.address" />
        </el-form-item>
        <el-form-item label="Status">
          <el-input v-model="temp.status" />
        </el-form-item>
        <el-form-item label="Company Address1">
          <el-input v-model="temp.company_address1" />
        </el-form-item>
        <el-form-item label="Company Address2">
          <el-input v-model="temp.company_address2" />
        </el-form-item>
        <el-form-item label="Company Suburb">
          <el-input v-model="temp.company_suburb" />
        </el-form-item>
        <el-form-item label="Company State">
          <el-input v-model="temp.company_state" />
        </el-form-item>
        <el-form-item label="Company Country">
          <el-input v-model="temp.company_country" />
        </el-form-item>
        <el-form-item label="Company Postcode">
          <el-input v-model="temp.company_postcode" />
        </el-form-item>
        <el-form-item label="Type">
          <el-input v-model="temp.type" />
        </el-form-item>
        <el-form-item label="Reference Num">
          <el-input v-model="temp.reference_num" />
        </el-form-item>
        <el-form-item label="Credit">
          <el-input v-model="temp.credit" />
        </el-form-item>
        <el-form-item label="Balance">
          <el-input v-model="temp.balance" />
        </el-form-item>
        <el-form-item label="Timezone">
          <el-input v-model="temp.timezone" />
        </el-form-item>
        <el-form-item label="Source">
          <el-input v-model="temp.source" />
        </el-form-item>
        <el-form-item label="Is Guide Read">
          <el-input v-model="temp.is_guide_read" />
        </el-form-item>
        <el-form-item label="Eiz Freight Portal">
          <el-input v-model="temp.eiz_freight_portal" />
        </el-form-item>
        <el-form-item label="Is Email Verified">
          <el-input v-model="temp.is_email_verified" />
        </el-form-item>
        <el-form-item label="Sf Monthly Shipment Amount">
          <el-input v-model="temp.sf_monthly_shipment_amount" />
        </el-form-item>
        <el-form-item label="Vtiger ID">
          <el-input v-model="temp.vtiger_id" />
        </el-form-item>
        <el-form-item label="Created At" prop="timestamp">
          <el-date-picker v-model="temp.created_at" type="datetime" placeholder="Please pick a date" />
        </el-form-item>
        <el-form-item label="Updated At" prop="timestamp">
          <el-date-picker v-model="temp.updated_at" type="datetime" placeholder="Please pick a date" />
        </el-form-item>
        <el-form-item label="Deleted At" prop="timestamp">
          <el-date-picker v-model="temp.deleted_at" type="datetime" placeholder="Please pick a date" />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">
          Cancel
        </el-button>
        <el-button type="primary" @click="dialogStatus==='create'?createData():updateData()">
          Confirm
        </el-button>
      </div>
    </el-dialog>

    <el-dialog :visible.sync="dialogPvVisible" title="Reading statistics">
      <el-table :data="pvData" border fit highlight-current-row style="width: 100%">
        <el-table-column prop="key" label="Channel" />
        <el-table-column prop="pv" label="Pv" />
      </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="dialogPvVisible = false">Confirm</el-button>
      </span>
    </el-dialog>

    <el-drawer
      title="Account Detail"
      :visible.sync="drawer"
      :direction="direction"
      :before-close="drawerClose"
      size="80%">
      <template>
        <el-tabs v-loading="detailLoading" v-model="activeName" style="margin-left:20px" @tab-click="handleClick">
          <el-tab-pane label="Account Details" name="account" >
            <el-descriptions class="margin-top" :data="accountDetail" :column="3" border>
              <el-descriptions-item>
                <template slot="label">
                  <i class="el-icon-user"></i>
                  Account ID
                </template>
                {{ accountDetail.id }}
              </el-descriptions-item>
              <el-descriptions-item>
                <template slot="label">
                  <i class="el-icon-location-outline"></i>
                  Created at
                </template>
                {{ accountDetail.created_at }}
              </el-descriptions-item>
              <el-descriptions-item>
                <template slot="label">
                  <i class="el-icon-office-building"></i>
                  Address
                </template>
                {{ accountDetail.adress }}
              </el-descriptions-item>
              <el-descriptions-item>
                <template slot="label">
                  <i class="el-icon-tickets"></i>
                  Email
                </template>
                {{ accountDetail.email }}
              </el-descriptions-item>
              <el-descriptions-item>
                <template slot="label">
                  <i class="el-icon-office-building"></i>
                  Deleted at
                </template>
                {{ accountDetail.deleted_at }}
              </el-descriptions-item>
              <el-descriptions-item>
                <template slot="label">
                  <i class="el-icon-office-building"></i>
                  CompanyName
                </template>
                {{ accountDetail.companyName }}
              </el-descriptions-item>
              <el-descriptions-item>
                <template slot="label">
                  <i class="el-icon-mobile-phone"></i>
                  Phone
                </template>
                {{ accountDetail.phone }}
              </el-descriptions-item>
              <el-descriptions-item>
                <template slot="label">
                  <i class="el-icon-tickets"></i>
                  Updated at
                </template>
                {{ accountDetail.updated_at }}
              </el-descriptions-item>
              <el-descriptions-item>
                <template slot="label">
                  <i class="el-icon-office-building"></i>
                  Company address1
                </template>
                {{ accountDetail.company_address1 }}
              </el-descriptions-item>
              
              <el-descriptions-item>
                <template slot="label">
                  <i class="el-icon-mobile-phone"></i>
                  Status
                </template>
                <el-tag size="small">{{ accountDetail.status | statusTypeFilter }}</el-tag>
              </el-descriptions-item>
              <el-descriptions-item>
                <template slot="label">
                  <i class="el-icon-tickets"></i>
                  Type
                </template>
                <el-tag size="small">{{ accountDetail.type | accountTypeFilter}}</el-tag>
              </el-descriptions-item>
              <el-descriptions-item>
                <template slot="label">
                  <i class="el-icon-office-building"></i>
                  Company address2
                </template>
                {{ accountDetail.company_address2 }}
              </el-descriptions-item>
              <el-descriptions-item>
                <template slot="label">
                  <i class="el-icon-tickets"></i>
                  Is guide read
                </template>
                {{ accountDetail.is_guide_read }}
              </el-descriptions-item>
              <el-descriptions-item>
                <template slot="label">
                  <i class="el-icon-user"></i>
                  Credit
                </template>
                {{ accountDetail.credit }}
              </el-descriptions-item>
              <el-descriptions-item>
                <template slot="label">
                  <i class="el-icon-office-building"></i>
                  Company address3
                </template>
                {{ accountDetail.company_address3 }}
              </el-descriptions-item>
              <el-descriptions-item>
                <template slot="label">
                  <i class="el-icon-office-building"></i>
                  Reference num
                </template>
                {{ accountDetail.reference_num }}
              </el-descriptions-item>
              <el-descriptions-item>
                <template slot="label">
                  <i class="el-icon-office-building"></i>
                  Sf monthly shipment amount
                </template>
                {{ accountDetail.sf_monthly_shipment_amount }}
              </el-descriptions-item>
              <el-descriptions-item>
                <template slot="label">
                  <i class="el-icon-office-building"></i>
                  Company postcode
                </template>
                {{ accountDetail.company_postcode }}
              </el-descriptions-item>
              <el-descriptions-item>
                <template slot="label">
                  <i class="el-icon-mobile-phone"></i>
                  Timezone
                </template>
                {{ accountDetail.timezone }}
              </el-descriptions-item>
              <el-descriptions-item>
                <template slot="label">
                  <i class="el-icon-location-outline"></i>
                  Source
                </template>
                {{ accountDetail.source }}
              </el-descriptions-item>
              <el-descriptions-item>
                <template slot="label">
                  <i class="el-icon-office-building"></i>
                  Company suburb
                </template>
                {{ accountDetail.company_suburb }}
              </el-descriptions-item>
              <el-descriptions-item>
                <template slot="label">
                  <i class="el-icon-office-building"></i>
                  Eiz freight portal
                </template>
                {{ accountDetail.eiz_freight_portal }}
              </el-descriptions-item>
              <el-descriptions-item>
                <template slot="label">
                  <i class="el-icon-office-building"></i>
                  Is email verified
                </template>
                {{ accountDetail.is_email_verified }}
              </el-descriptions-item>
              <el-descriptions-item>
                <template slot="label">
                  <i class="el-icon-office-building"></i>
                  Company state
                </template>
                {{ accountDetail.company_state }}
              </el-descriptions-item>
              <el-descriptions-item>
                <template slot="label">
                  <i class="el-icon-office-building"></i>
                  Vtiger id
                </template>
                {{ accountDetail.vtiger_id }}
              </el-descriptions-item>
              <el-descriptions-item>
                <template slot="label">
                  <i class="el-icon-tickets"></i>
                  Nickname
                </template>
                {{ accountDetail.nickname }}
              </el-descriptions-item>
            </el-descriptions>
          </el-tab-pane>
          <el-tab-pane label="User" name="user">
            <el-table
              :data="userList"
              stripe
              min-height="800"
              style="width: 100%;">
              <el-table-column fixed prop="id" label="ID" width="120" align="center"></el-table-column>
              <el-table-column fixed prop="account_id" label="Account ID" align="center"></el-table-column>
              <el-table-column prop="email" label="Email" align="center"></el-table-column>
              <el-table-column prop="username" label="Username" align="center"></el-table-column>
              <el-table-column prop="name" label="Name" align="center"></el-table-column>
              <el-table-column prop="password" label="Password" align="center"></el-table-column>
              <el-table-column prop="token" label="Token" align="center"></el-table-column>
              <el-table-column prop="hash" label="Hash" align="center"></el-table-column>
              <el-table-column prop="role" label="role" align="center"></el-table-column>
              <el-table-column prop="active" label="active" align="center"></el-table-column>
              <el-table-column prop="created_at" label="Created At" align="center"></el-table-column>
              <el-table-column prop="updated_at" label="Updated At" align="center"></el-table-column>
              <el-table-column prop="deleted_at" label="Deleted At" align="center"></el-table-column>
              <el-table-column
                fixed="right"
                label="Action"
                width="120">
                <template slot-scope="{row, $index}">
                  <el-popconfirm confirm-button-text='Confirm' cancel-button-text='Cancel' @confirm="relieveRow($index, row, userList)" title="Are you sure you want to disassociate？" >
                  <el-button
                    slot="reference"
                    type="text"
                    size="small">
                    Relieve
                  </el-button>
                  </el-popconfirm>
                </template>
              </el-table-column>
            </el-table>
          </el-tab-pane>
          <el-tab-pane label="Store" name="store">
            <el-table
              :data="storeList"
              min-height="800"
              style="width: 100%">
              <el-table-column fixed prop="id" label="Store ID" width="80"></el-table-column>
              <el-table-column fixed prop="subscription.plugin.name" label="Channel" width="80"></el-table-column>
              <el-table-column prop="subscription_id" label="Subscription ID" width="125"></el-table-column>
              <el-table-column prop="name" label="Name" width="120"></el-table-column>
              <el-table-column prop="settings" label="Settings" width="180"></el-table-column>
              <el-table-column prop="created_at" label="Created At" width="180"></el-table-column>
              <el-table-column prop="updated_at" label="Ureated At" width="180"></el-table-column>
              <el-table-column prop="deleted" label="Deleted" width="180"></el-table-column>
              <el-table-column prop="expiry_time" label="Expiry Time" width="180"></el-table-column>
              <el-table-column prop="order_update_interval" label="Order Update Interval" width="180"></el-table-column>
              <el-table-column prop="order_update_time" label="Order Update Time" width="180"></el-table-column>
              <el-table-column prop="order_retried" label="Order Retried" width="180"></el-table-column>
              <el-table-column prop="order_next_update_time" label="Order Next Update Time" width="180"></el-table-column>
              <el-table-column prop="remoteId" label="RemoteId" width="180"></el-table-column>
              <el-table-column prop="has_sync_issue" label="Has Sync Issue" width="180"></el-table-column>
              <el-table-column prop="listing_job_status" label="Listing Job Status" width="180"></el-table-column>
              <el-table-column prop="listing_update_time" label="Listing Update Time" width="180"></el-table-column>
              <el-table-column fixed="right" prop="order_job_status" label="Order Job Status" width="140"></el-table-column>
              <el-table-column fixed="right" prop="status" label="Status" width="70"></el-table-column>
            </el-table>
          </el-tab-pane>
          <el-tab-pane label="Plugin" name="plugin" >
            <el-table
              :data="pluginList"
              stripe
              height="800"
              style="width: 100%;">
              <el-table-column prop="id" label="Subscribed ID" width="120" align="center"></el-table-column>
              <el-table-column prop="plugin_id" label="Plugin ID" align="center"></el-table-column>
              <el-table-column prop="settings" label="Settings" align="center"></el-table-column>
              <el-table-column prop="created_at" label="Created at" align="center"></el-table-column>
              <el-table-column prop="updated_at" label="Updated at" align="center"></el-table-column>
              <el-table-column prop="expiry_at" label="Expiry at" align="center"></el-table-column>
              <el-table-column prop="status" label="Status" align="center"></el-table-column>
            </el-table>
          </el-tab-pane>
          <el-tab-pane label="Package" name="package">Package</el-tab-pane>
        </el-tabs>
      </template>
    </el-drawer>
  </div>
</template>


<script>
import { fetchList, fetchPv, createAccount, updateAccount, deleteAccount, subscribedPlugin, getAccountUser, switchAccount, accountStore } from '@/api/account/index'
import waves from '@/directive/waves' // waves directive
import { parseTime } from '@/utils'
import Pagination from '@/components/Pagination' // secondary package based on el-pagination

const accountTypeOptions = [
  { key: 1, display_name: 'Web' },
  { key: 0, display_name: 'App' }
]
const statusTypeOptions =[
  { key: 1, display_name: 'Not active' },
  { key: 2, display_name: 'Draft' },
  { key: 3, display_name: 'Activated' },
  { key: 9, display_name: 'Deleted' }
]

const accountTypeKeyValue = accountTypeOptions.reduce((acc, cur) => {
  acc[cur.key] = cur.display_name
  return acc
}, {})

const statusTypeKeyValue = statusTypeOptions.reduce((acc, cur) => {
  acc[cur.key] = cur.display_name
  return acc
}, {})

export default {
  name: 'ComplexTable',
  components: { Pagination },
  directives: { waves },
  filters: {
    accountTypeFilter(visible){
      return accountTypeKeyValue[visible]
    },
    statusTypeFilter(type) {
      return statusTypeKeyValue[type]
    }
  },
  data() {
    return {
      tableKey: 0,
      list: null,
      total: 0,
      listLoading: true,
      detailLoading: false,
      listQuery: {
        page: 1,
        limit: 20,
        importance: undefined,
        title: undefined,
        type: undefined,
        sort: '+id'
      },
      importanceOptions: [1, 2, 3],
      accountTypeOptions,
      statusTypeOptions,
      sortOptions: [{ label: 'ID Ascending', key: '+id' }, { label: 'ID Descending', key: '-id' }],
      // showReviewer: false,
      temp: {
        id: undefined,
        importance: 1,
        remark: '',
        timestamp: new Date(),
        title: '',
        type: '',
        status: 'Published'
      },
      dialogFormVisible: false,
      dialogStatus: '',
      textMap: {
        update: 'Edit',
        create: 'Create'
      },
      dialogPvVisible: false,
      pvData: [],
      rules: {
        type: [{ required: true, message: 'type is required', trigger: 'change' }],
        timestamp: [{ type: 'date', required: true, message: 'timestamp is required', trigger: 'change' }],
        account: [{ required: true, message: 'account is required', trigger: 'blur' }],
        suburb: [{ required: true, message: 'suburb is required', trigger: 'blur' }],
        state: [{ required: true, message: 'state is required', trigger: 'blur' }],
        country: [{ required: true, message: 'country is required', trigger: 'blur' }],
      },
      downloadLoading: false,
      drawer: false,
      direction: 'rtl',
      activeName: 'account',
      pluginList:null,
      accountDetail:[],
      accountId:null,
      userList:null,
      storeList:null
    }
  },
  created() {
    this.getList()
  },
  methods: {
    getList() {
      this.listLoading = true
      fetchList(this.listQuery).then(response => {
        const { items, total } = response.data;
        this.list = items
        this.total = total
        this.listLoading = false
      })
    },
    handleFilter() {
      this.listQuery.page = 1
      this.getList()
    },
    handleModifyStatus(row, status) {
      this.$message({
        message: '操作Success',
        type: 'success'
      })
      row.status = status
    },
    sortChange(data) {
      const { prop, order } = data
      if (prop === 'id') {
        this.sortByID(order)
      }
    },
    sortByID(order) {
      if (order === 'ascending') {
        this.listQuery.sort = '+id'
      } else {
        this.listQuery.sort = '-id'
      }
      this.handleFilter()
    },
    resetTemp() {
      this.temp = {
        id: undefined,
        importance: 1,
        remark: '',
        timestamp: new Date(),
        title: '',
        status: 'Published',
        type: ''
      }
    },
    handleCreate() {
      this.resetTemp()
      this.dialogStatus = 'create'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    createData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          this.temp.id = parseInt(Math.random() * 100) + 1024 // mock a id
          createAccount(this.temp).then(() => {
            this.list.unshift(this.temp)
            this.dialogFormVisible = false
            this.$notify({
              title: 'Success',
              message: 'Created Successfully',
              type: 'success',
              duration: 2000
            })
          })
        }
      })
    },
    handleUpdate(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.temp.timestamp = new Date(this.temp.timestamp)
      this.dialogStatus = 'update'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    handleSwitch(row) {
      this.$prompt('Your email', '套号 ( '+row.id +'___'+ row.email+' )', {
          confirmButtonText: 'Confirm',
          cancelButtonText: 'Cancel',
          inputPattern: /[\w!#$%&'*+/=?^_`{|}~-]+(?:\.[\w!#$%&'*+/=?^_`{|}~-]+)*@(?:[\w](?:[\w-]*[\w])?\.)+[\w](?:[\w-]*[\w])?/,
          inputErrorMessage: 'The mailbox format is incorrect'
        }).then(({ value }) => {
          var data = {
            account_id: row.id,
            account_email: row.email,
            user_email: value,
          };
          switchAccount(data).then(response => {
            if (response.code === 200) {
              this.$message({
                type: 'success',
                message: 'Success'
              });
            } else {
              this.$message({
                type: 'error',
                message: response.message
              });
            }
          });
        }).catch(() => {
          // this.$message({
          //   type: 'info',
          //   message: 'Cancel'
          // });       
        });
        this.listLoading = false;
    },
    updateData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          const tempData = Object.assign({}, this.temp)
          tempData.timestamp = +new Date(tempData.timestamp) // change Thu Nov 30 2017 16:41:05 GMT+0800 (CST) to 1512031311464
          updateAccount(tempData).then(() => {
            const index = this.list.findIndex(v => v.id === this.temp.id)
            this.list.splice(index, 1, this.temp)
            this.dialogFormVisible = false
            this.$notify({
              title: 'Success',
              message: 'Update Successfully',
              type: 'success',
              duration: 2000
            })
          })
        }
      })
    },
    handleDelete(row, index) {
        this.$confirm('Are you sure you want to delete the current data', 'Warning', {
        confirmButtonText: 'Confirm',
        cancelButtonText: 'Cancel',
        type: 'warning'
      }).then(async() => {
         this.listLoading = true
         deleteAccount(row.id).then(res => {
            this.$message.success('Delete success.')
            this.list.splice(index, 1)
            this.listLoading = false
           }).catch(err => {
             this.listLoading = false
             this.$message.errror(err.message)
             })
          }).catch(err => { console.error(err) })
    },
    handleFetchPv(pv) {
      fetchPv(pv).then(response => {
        this.pvData = response.data.pvData
        this.dialogPvVisible = true
      })
    },
    handleDownload() {
      this.downloadLoading = true
      import('@/vendor/Export2Excel').then(excel => {
        const tHeader = ['timestamp', 'title', 'type', 'importance', 'status']
        const filterVal = ['timestamp', 'title', 'type', 'importance', 'status']
        const data = this.formatJson(filterVal)
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'table-list'
        })
        this.downloadLoading = false
      })
    },
    formatJson(filterVal) {
      return this.list.map(v => filterVal.map(j => {
        if (j === 'timestamp') {
          return parseTime(v[j])
        } else {
          return v[j]
        }
      }))
    },
    getSortClass: function(key) {
      const sort = this.listQuery.sort
      return sort === `+${key}` ? 'ascending' : 'descending'
    },
    handleClick(tab) {
      this.detailLoading = true
      console.log(tab);
      if(tab.name == 'account'){
        this.detailLoading = false
        	// this.second();
      }else if(tab.name == 'plugin'){
        this.getAccountSubscribedPlugin();
      }else if(tab.name == 'store'){
        this.getAccountStore();
      }else if(tab.name == 'user'){
        this.getUser();
      }else if(tab.name == 'package'){
        this.detailLoading = false
      }
      this.activeName = tab.name
    },
    getAccountSubscribedPlugin(){
      if (this.pluginList == null) {
        subscribedPlugin(this.accountId).then(response => {
          this.pluginList = response.data
          this.detailLoading = false
        })
      } else {
        this.detailLoading = false
      }
    },
    getAccountStore(){
      if (this.storeList == null) {
        accountStore(this.accountId).then(response => {
          this.storeList = response.data
          this.detailLoading = false
        })
      } else {
        this.detailLoading = false
      }
    },
    getUser(){
      if (this.userList == null) {
        getAccountUser(this.accountId).then(
          response => {
            this.userList = response.data
            this.detailLoading = false
          }
        )
      } else {
        this.detailLoading = false
      }
    },
    drawerInfo(row){
      this.drawer = true
      this.accountDetail = row
      this.accountId = row.id
      if (this.activeName != 'account') {
        var tab = {
          name: this.activeName
        };
        this.handleClick(tab)
      }
    },
    drawerClose(done){
      this.pluginList = null;
      this.userList = null;
      this.storeList = null;
      this.drawer = false;
    },
    relieveRow(index, data, rows) {
      this.detailLoading = true
      var relieveInfo = {
        is_relieve: 1,
        relieve_id: data.id,
        relieve_account_id: data.account_id,
        relieve_email: data.email
      };
      switchAccount(relieveInfo).then(response => {
        if (response.code === 200) {
          this.detailLoading = false
          rows.splice(index, 1);
          this.$message({
            type: 'success',
            message: 'Success'
          });
        } else {
          this.detailLoading = false
          this.$message({
            type: 'error',
            message: response.message
          });
        }
      });
    }
  }
}
</script>
