<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input v-model="listQuery.postcode" placeholder="Postcode" style="width: 150px;" class="filter-item" @keyup.enter.native="handleFilter" />
      <el-input v-model="listQuery.suburb" placeholder="Suburb" style="width: 150px;" class="filter-item" @keyup.enter.native="handleFilter" />
      <el-input v-model="listQuery.state" placeholder="State" style="width: 150px;" class="filter-item" @keyup.enter.native="handleFilter" />
      <el-input v-model="listQuery.country" placeholder="Country" style="width: 150px;" class="filter-item" @keyup.enter.native="handleFilter" />
      <el-button v-waves class="filter-item" style="margin-left: 10px;" type="primary" icon="el-icon-search" @click="handleFilter">
        Search
      </el-button>
      <el-button class="filter-item" style="margin-left: 10px;" type="primary" icon="el-icon-edit" @click="handleCreate">
        Add
      </el-button>
      <el-button v-waves :loading="downloadLoading" class="filter-item" type="primary" icon="el-icon-download" @click="handleDownload">
        Export
      </el-button>
    </div>

    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%; margin-top:10px"
      @sort-change="sortChange"
    >
      <el-table-column label="ID" prop="id" sortable="custom" align="center" width="80" :class-name="getSortClass('id')">
        <template slot-scope="{row}">
          <span>{{ row.id }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Postcode" width="85px" align="center">
        <template slot-scope="{row}">
          <span>{{ row.postcode }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Suburb" width="150px" align="center">
        <template slot-scope="{row}">
          <span>{{ row.suburb }}</span>
        </template>
      </el-table-column>
      <el-table-column label="State" width="75px" align="center">
        <template slot-scope="{row}">
          <span>{{ row.state }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Country" min-width="80" align="center">
        <template slot-scope="{row}">
          <span>{{ row.country }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Label" min-width="75" align="center">
        <template slot-scope="{row}">
          <span>{{ row.label }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Tollzone" width="80px" align="center">
        <template slot-scope="{row}">
          <span>{{ row.tollzone }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Epzone" width="80px" align="center">
        <template slot-scope="{row}">
          <span>{{ row.epzone }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Hxzone" width="80px" align="center">
        <template slot-scope="{row}">
          <span>{{ row.hxzone }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Fastway zone" width="80px" align="center">
        <template slot-scope="{row}">
          <span>{{ row.fastway_zone }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Region" width="80px" align="center">
        <template slot-scope="{row}">
          <span>{{ row.region }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Toll depot code" width="80px" align="center">
        <template slot-scope="{row}">
          <span>{{ row.toll_depot_code }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Toll prio zone" width="80px" align="center">
        <template slot-scope="{row}">
          <span>{{ row.toll_prio_zone }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Tnt zone" width="80px" align="center">
        <template slot-scope="{row}">
          <span>{{ row.tnt_zone }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Sunyee tollzone" width="80px" align="center">
        <template slot-scope="{row}">
          <span>{{ row.sunyee_tollzone }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Modified" width="150px" align="center">
        <template slot-scope="{row}">
          <span>{{ row.modified | parseTime('{y}-{m}-{d} {h}:{i}') }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Actions" align="center" width="180" class-name="small-padding fixed-width">
        <template slot-scope="{row,$index}">
          <el-button type="primary" size="mini" @click="handleUpdate(row)">
            Edit
          </el-button>
          <!-- <el-button v-if="row.status!='Published'" size="mini" type="success" @click="handleModifyStatus(row,'Published')">
            Publish
          </el-button>
          <el-button v-if="row.status!='draft'" size="mini" @click="handleModifyStatus(row,'draft')">
            Draft
          </el-button> -->
          <el-button v-if="row.status!='deleted'" size="mini" type="danger" @click="handleDelete(row,$index)">
            Delete
          </el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.limit" @pagination="getList" />

    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible">
      <el-form ref="dataForm" :rules="rules" :model="temp" label-position="right" label-width="128px" style="width: 400px; margin-left:50px;">
        <el-form-item label="Postcode" prop="postcode">
          <el-input v-model="temp.postcode" />
        </el-form-item>
        <el-form-item label="Suburb" prop="suburb">
          <el-input v-model="temp.suburb" />
        </el-form-item>
        <el-form-item label="State" prop="state">
          <el-input v-model="temp.state" />
        </el-form-item>
        <el-form-item label="Country" prop="country">
          <el-input v-model="temp.country" />
        </el-form-item>
        <el-form-item label="Label">
          <el-input v-model="temp.label" />
        </el-form-item>
        <el-form-item label="Modified" prop="timestamp">
          <el-date-picker v-model="temp.modified" type="datetime" placeholder="Please pick a date" />
        </el-form-item>
        <el-form-item label="Tollzone">
          <el-input v-model="temp.tollzone" />
        </el-form-item>
        <el-form-item label="Epzone">
          <el-input v-model="temp.epzone" />
        </el-form-item>
        <el-form-item label="Hxzone">
          <el-input v-model="temp.hxzone" />
        </el-form-item>
        <el-form-item label="Fastway zone">
          <el-input v-model="temp.fastway_zone" />
        </el-form-item>
        <el-form-item label="Region">
          <el-input v-model="temp.region" />
        </el-form-item>
        <el-form-item label="Toll depot code">
          <el-input v-model="temp.toll_depot_code" />
        </el-form-item>
        <el-form-item label="Toll prio zone">
          <el-input v-model="temp.toll_prio_zone" />
        </el-form-item>
        <el-form-item label="Tnt zone">
          <el-input v-model="temp.tnt_zone" />
        </el-form-item>
        <el-form-item label="Sunyee tollzone">
          <el-input v-model="temp.sunyee_tollzone" />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">
          Cancel
        </el-button>
        <el-button type="primary" @click="dialogStatus==='create'?createData():updateData()">
          Confirm
        </el-button>
      </div>
    </el-dialog>

    <el-dialog :visible.sync="dialogPvVisible" title="Reading statistics">
      <el-table :data="pvData" border fit highlight-current-row style="width: 100%">
        <el-table-column prop="key" label="Channel" />
        <el-table-column prop="pv" label="Pv" />
      </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="dialogPvVisible = false">Confirm</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { fetchList, fetchPv, createPostcode, updatePostcode, deletePostcode } from '@/api/postcode/index'
import waves from '@/directive/waves' // waves directive
import { parseTime } from '@/utils'
import Pagination from '@/components/Pagination' // secondary package based on el-pagination

export default {
  name: 'ComplexTable',
  components: { Pagination },
  directives: { waves },
  data() {
    return {
      tableKey: 0,
      list: null,
      total: 0,
      listLoading: true,
      listQuery: {
        page: 1,
        limit: 20,
        importance: undefined,
        title: undefined,
        type: undefined,
        sort: '+id'
      },
      importanceOptions: [1, 2, 3],
      sortOptions: [{ label: 'ID Ascending', key: '+id' }, { label: 'ID Descending', key: '-id' }],
      // showReviewer: false,
      temp: {
        id: undefined,
        importance: 1,
        remark: '',
        timestamp: new Date(),
        title: '',
        type: '',
        status: 'Published'
      },
      dialogFormVisible: false,
      dialogStatus: '',
      textMap: {
        update: 'Edit',
        create: 'Create'
      },
      dialogPvVisible: false,
      pvData: [],
      rules: {
        type: [{ required: true, message: 'type is required', trigger: 'change' }],
        timestamp: [{ type: 'date', required: true, message: 'timestamp is required', trigger: 'change' }],
        postcode: [{ required: true, message: 'postcode is required', trigger: 'blur' }],
        suburb: [{ required: true, message: 'suburb is required', trigger: 'blur' }],
        state: [{ required: true, message: 'state is required', trigger: 'blur' }],
        country: [{ required: true, message: 'country is required', trigger: 'blur' }],
      },
      downloadLoading: false
    }
  },
  created() {
    this.getList()
  },
  methods: {
    getList() {
      this.listLoading = true
      fetchList(this.listQuery).then(response => {
        this.list = response.data.items
        this.total = response.data.total

        // Just to simulate the time of the request
        setTimeout(() => {
          this.listLoading = false
        }, 1.5 * 1000)
      })
    },
    handleFilter() {
      this.listQuery.page = 1
      this.getList()
    },
    handleModifyStatus(row, status) {
      this.$message({
        message: '操作Success',
        type: 'success'
      })
      row.status = status
    },
    sortChange(data) {
      const { prop, order } = data
      if (prop === 'id') {
        this.sortByID(order)
      }
    },
    sortByID(order) {
      if (order === 'ascending') {
        this.listQuery.sort = '+id'
      } else {
        this.listQuery.sort = '-id'
      }
      this.handleFilter()
    },
    resetTemp() {
      this.temp = {
        id: undefined,
        importance: 1,
        remark: '',
        timestamp: new Date(),
        title: '',
        status: 'Published',
        type: ''
      }
    },
    handleCreate() {
      this.resetTemp()
      this.dialogStatus = 'create'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    createData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          this.temp.id = parseInt(Math.random() * 100) + 1024 // mock a id
          createPostcode(this.temp).then(() => {
            this.list.unshift(this.temp)
            this.dialogFormVisible = false
            this.$notify({
              title: 'Success',
              message: 'Created Successfully',
              type: 'success',
              duration: 2000
            })
          })
        }
      })
    },
    handleUpdate(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.temp.timestamp = new Date(this.temp.timestamp)
      this.dialogStatus = 'update'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    updateData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          const tempData = Object.assign({}, this.temp)
          tempData.timestamp = +new Date(tempData.timestamp) // change Thu Nov 30 2017 16:41:05 GMT+0800 (CST) to 1512031311464
          updatePostcode(tempData).then(() => {
            const index = this.list.findIndex(v => v.id === this.temp.id)
            this.list.splice(index, 1, this.temp)
            this.dialogFormVisible = false
            this.$notify({
              title: 'Success',
              message: 'Update Successfully',
              type: 'success',
              duration: 2000
            })
          })
        }
      })
    },
    handleDelete(row, index) {
        this.$confirm('Are you sure you want to delete the current data', 'Warning', {
        confirmButtonText: 'Confirm',
        cancelButtonText: 'Cancel',
        type: 'warning'
      }).then(async() => {
         this.listLoading = true
         deletePostcode(row.id).then(res => {
            this.$message.success('Delete success.')
            this.list.splice(index, 1)
            this.listLoading = false
           }).catch(err => {
             this.listLoading = false
             this.$message.errror(err.message)
             })
          }).catch(err => { console.error(err) })
    },
    handleFetchPv(pv) {
      fetchPv(pv).then(response => {
        this.pvData = response.data.pvData
        this.dialogPvVisible = true
      })
    },
    handleDownload() {
      this.downloadLoading = true
      import('@/vendor/Export2Excel').then(excel => {
        const tHeader = ['timestamp', 'title', 'type', 'importance', 'status']
        const filterVal = ['timestamp', 'title', 'type', 'importance', 'status']
        const data = this.formatJson(filterVal)
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'table-list'
        })
        this.downloadLoading = false
      })
    },
    formatJson(filterVal) {
      return this.list.map(v => filterVal.map(j => {
        if (j === 'timestamp') {
          return parseTime(v[j])
        } else {
          return v[j]
        }
      }))
    },
    getSortClass: function(key) {
      const sort = this.listQuery.sort
      return sort === `+${key}` ? 'ascending' : 'descending'
    }
  }
}
</script>
