<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input v-model="listQuery.labelNumber" placeholder="labelNumber" style="width: 500px;" class="filter-item" @keyup.enter.native="handleFilter" />
      <el-button v-waves class="filter-item" style="margin-left: 10px;" type="primary" icon="el-icon-search" @click="handleFilter">
        Search
      </el-button>
    </div>
    <el-empty class="empty-data" description="Please Search" v-if="!searchNumber && searchNumber !== 0"></el-empty>
    <el-collapse v-loading="listLoading" v-else v-model="activeNames" highlight-current-row :data="list" @change="handleChange" style="width: 100%; margin-top:50px" >
      <el-collapse-item v-for="(row, index) in list" :key="index" :title="row.labelNumber" :name="index">
        <el-row>
          <el-col :span="16">
            <div class="grid-content bg-purple-light">
              <el-divider content-position="left">Label Detail</el-divider>
              <el-descriptions :column="4" border>
                  <el-descriptions-item label="id">{{row.id}}</el-descriptions-item>
                  <el-descriptions-item label="consignment_id">{{row.consignment_id}}</el-descriptions-item>
                  <el-descriptions-item label="labelNumber">{{row.labelNumber}}</el-descriptions-item>
                  <el-descriptions-item label="url">{{row.url}}</el-descriptions-item>
                  <el-descriptions-item label="format">{{row.format}}</el-descriptions-item>
                  <el-descriptions-item label="data">{{row.data}}</el-descriptions-item>
                  <el-descriptions-item label="status">{{row.status}}</el-descriptions-item>
                  <el-descriptions-item label="created_at">{{row.created_at}}</el-descriptions-item>
                  <el-descriptions-item label="updated_at">{{row.updated_at}}</el-descriptions-item>
                  <el-descriptions-item label="tracking_status">{{row.tracking_status}}</el-descriptions-item>
                  <el-descriptions-item label="is_archived">{{row.is_archived}}</el-descriptions-item>
                  <el-descriptions-item label="shipping_days">{{row.shipping_days}}</el-descriptions-item>
              </el-descriptions>
              <el-divider content-position="left">Consignment Detail</el-divider>
              <el-descriptions :column="1" border>
                  <el-descriptions-item label="id">{{row.consignment.id}}</el-descriptions-item>
                  <el-descriptions-item label="account_id">{{row.consignment.account_id}}</el-descriptions-item>
                  <el-descriptions-item label="consignmentable_id">{{row.consignment.consignmentable_id}}</el-descriptions-item>
                  <el-descriptions-item label="consignmentable_type">{{row.consignment.consignmentable_type}}</el-descriptions-item>
                  <el-descriptions-item label="shippingMethod_id">{{row.consignment.shippingMethod_id}}</el-descriptions-item>
                  <el-descriptions-item label="remoteConsignment_id">{{row.consignment.remoteConsignment_id}}</el-descriptions-item>
                  <el-descriptions-item label="clientIndex_id">{{row.consignment.clientIndex_id}}</el-descriptions-item>
                  <el-descriptions-item label="manifest_id">{{row.consignment.manifest_id}}</el-descriptions-item>
                  <el-descriptions-item label="plugin_id">{{row.consignment.plugin_id}}</el-descriptions-item>
                  <el-descriptions-item label="shipTo_ref">{{row.consignment.shipTo_ref}}</el-descriptions-item>
                  <el-descriptions-item label="shipTo_name">{{row.consignment.shipTo_name}}</el-descriptions-item>
                  <el-descriptions-item label="shipTo_companyName">{{row.consignment.shipTo_companyName}}</el-descriptions-item>
                  <el-descriptions-item label="shipTo_phone">{{row.consignment.shipTo_phone}}</el-descriptions-item>
                  <el-descriptions-item label="shipTo_email">{{row.consignment.shipTo_email}}</el-descriptions-item>
                  <el-descriptions-item label="shipTo_address1">{{row.consignment.shipTo_address1}}</el-descriptions-item>
                  <el-descriptions-item label="shipTo_address2">{{row.consignment.shipTo_address2}}</el-descriptions-item>
                  <el-descriptions-item label="shipTo_suburb">{{row.consignment.shipTo_suburb}}</el-descriptions-item>
                  <el-descriptions-item label="shipTo_state">{{row.consignment.shipTo_state}}</el-descriptions-item>
                  <el-descriptions-item label="shipTo_postcode">{{row.consignment.shipTo_postcode}}</el-descriptions-item>
                  <el-descriptions-item label="shipTo_country">{{row.consignment.shipTo_country}}</el-descriptions-item>
                  <el-descriptions-item label="shipTo_instruction1">{{row.consignment.shipTo_instruction1}}</el-descriptions-item>
                  <el-descriptions-item label="shipTo_instruction2">{{row.consignment.shipTo_instruction2}}</el-descriptions-item>
                  <el-descriptions-item label="shipTo_AuthorizeToLeave">{{row.consignment.shipTo_AuthorizeToLeave}}</el-descriptions-item>
                  <el-descriptions-item label="from_address1">{{row.consignment.from_address1}}</el-descriptions-item>
                  <el-descriptions-item label="from_address2">{{row.consignment.from_address2}}</el-descriptions-item>
                  <el-descriptions-item label="from_suburb">{{row.consignment.from_suburb}}</el-descriptions-item>
                  <el-descriptions-item label="from_state">{{row.consignment.from_state}}</el-descriptions-item>
                  <el-descriptions-item label="from_country">{{row.consignment.from_country}}</el-descriptions-item>
                  <el-descriptions-item label="from_postcode">{{row.consignment.from_postcode}}</el-descriptions-item>
                  <el-descriptions-item label="from_name">{{row.consignment.from_name}}</el-descriptions-item>
                  <el-descriptions-item label="from_phone">{{row.consignment.from_phone}}</el-descriptions-item>
                  <el-descriptions-item label="from_email">{{row.consignment.from_email}}</el-descriptions-item>
                  <el-descriptions-item label="processed">{{row.consignment.processed}}</el-descriptions-item>
                  <el-descriptions-item label="printed">{{row.consignment.printed}}</el-descriptions-item>
                  <el-descriptions-item label="shipped">{{row.consignment.shipped}}</el-descriptions-item>
                  <el-descriptions-item label="closed">{{row.consignment.closed}}</el-descriptions-item>
                  <el-descriptions-item label="data">{{row.consignment.data}}</el-descriptions-item>
                  <el-descriptions-item label="settings">{{row.consignment.settings}}</el-descriptions-item>
                  <el-descriptions-item label="senderInfo">{{row.consignment.senderInfo}}</el-descriptions-item>
                  <el-descriptions-item label="error_type">{{row.consignment.error_type}}</el-descriptions-item>
                  <el-descriptions-item label="errors">{{row.consignment.errors}}</el-descriptions-item>
                  <el-descriptions-item label="created_at">{{row.consignment.created_at}}</el-descriptions-item>
                  <el-descriptions-item label="updated_at">{{row.consignment.updated_at}}</el-descriptions-item>
                  <el-descriptions-item label="submitted_at">{{row.consignment.submitted_at}}</el-descriptions-item>
                  <el-descriptions-item label="pickup_date">{{row.consignment.pickup_date}}</el-descriptions-item>
                  <el-descriptions-item label="pickup_ref">{{row.consignment.pickup_ref}}</el-descriptions-item>
                  <el-descriptions-item label="shippingMethod_price_amount">{{row.consignment.shippingMethod_price_amount}}</el-descriptions-item>
                  <el-descriptions-item label="status">{{row.consignment.status}}</el-descriptions-item>
                  <el-descriptions-item label="shipTo_address3">{{row.consignment.shipTo_address3}}</el-descriptions-item>
                  <el-descriptions-item label="shipTo_address4">{{row.consignment.shipTo_address4}}</el-descriptions-item>
                  <el-descriptions-item label="is_pickrun_created">{{row.consignment.is_pickrun_created}}</el-descriptions-item>
                  <el-descriptions-item label="is_insured">{{row.consignment.is_insured}}</el-descriptions-item>
                  <el-descriptions-item label="note">{{row.consignment.note}}</el-descriptions-item>
                  <el-descriptions-item label="client_ref">{{row.consignment.client_ref}}</el-descriptions-item>
                  <el-descriptions-item label="source">{{row.consignment.source}}</el-descriptions-item>
                  <el-descriptions-item label="is_pallet">{{row.consignment.is_pallet}}</el-descriptions-item>
                  <el-descriptions-item label="is_sender_taillift_required">{{row.consignment.is_sender_taillift_required}}</el-descriptions-item>
                  <el-descriptions-item label="is_receiver_taillift_required">{{row.consignment.is_receiver_taillift_required}}</el-descriptions-item>
                  <el-descriptions-item label="eiz_tracking_status">{{row.consignment.eiz_tracking_status}}</el-descriptions-item>
              </el-descriptions>
            </div>
          </el-col>
          <el-col :span="8"><div class="grid-content bg-purple">节点信息</div></el-col>
        </el-row>
      </el-collapse-item>
    </el-collapse>
  </div>
</template>

<style>
  .app-container {
    min-height: calc(100vh - 50px);
  }
  .empty-data {
    height: 100%;
  }
  .el-row {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .el-col {
    border-radius: 4px;
  }
  .bg-purple-dark {
    background: #99a9bf;
  }
  .bg-purple {
    background: #d3dce6;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }
</style>


<script>
import {fetchList } from '@/api/tracking/index'
import waves from '@/directive/waves' // waves directive
import { parseTime } from '@/utils'
import Pagination from '@/components/Pagination' // secondary package based on el-pagination

export default {
  name: 'ComplexTable',
  directives: { waves },
  data() {
    return {
      tableKey: 0,
      list: null,
      total: 0,
      // listLoading: true,
      activeNames: [0],
      listQuery: {
        labelNumber:''
      },
      searchNumber: '',
      importanceOptions: [1, 2, 3],
      // showReviewer: false,
      temp: {
        id: undefined,
        importance: 1,
        remark: '',
        timestamp: new Date(),
        title: '',
        type: '',
        status: 'Published'
      },
      dialogFormVisible: false,
      dialogStatus: '',
      textMap: {
        update: 'Edit',
        create: 'Create'
      },
      dialogPvVisible: false,
      pvData: [],
      downloadLoading: false,
      collapse:false
    }
  },
  created() {
    // this.getList()
  },
  methods: {
    getList() {
      this.listLoading = true
      this.collapse = true
      fetchList(this.listQuery).then(response => {
        this.list = response.data
        this.total = response.data.total
        this.listLoading = false
      })
    },
    handleFilter() {
      this.searchNumber = this.listQuery.labelNumber;
      this.getList()
    },
    handleModifyStatus(row, status) {
      this.$message({
        message: '操作Success',
        type: 'success'
      })
      row.status = status
    },
    sortChange(data) {
      const { prop, order } = data
      if (prop === 'id') {
        this.sortByID(order)
      }
    },
    sortByID(order) {
      if (order === 'ascending') {
        this.listQuery.sort = '+id'
      } else {
        this.listQuery.sort = '-id'
      }
      this.handleFilter()
    },
    resetTemp() {
      this.temp = {
        id: undefined,
        importance: 1,
        remark: '',
        timestamp: new Date(),
        title: '',
        status: 'Published',
        type: ''
      }
    },
    handleCreate() {
      this.resetTemp()
      this.dialogStatus = 'create'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    createData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          this.temp.id = parseInt(Math.random() * 100) + 1024 // mock a id
          createPostcode(this.temp).then(() => {
            this.list.unshift(this.temp)
            this.dialogFormVisible = false
            this.$notify({
              title: 'Success',
              message: 'Created Successfully',
              type: 'success',
              duration: 2000
            })
          })
        }
      })
    },
    handleUpdate(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.temp.timestamp = new Date(this.temp.timestamp)
      this.dialogStatus = 'update'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    updateData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          const tempData = Object.assign({}, this.temp)
          tempData.timestamp = +new Date(tempData.timestamp) // change Thu Nov 30 2017 16:41:05 GMT+0800 (CST) to 1512031311464
          updatePostcode(tempData).then(() => {
            const index = this.list.findIndex(v => v.id === this.temp.id)
            this.list.splice(index, 1, this.temp)
            this.dialogFormVisible = false
            this.$notify({
              title: 'Success',
              message: 'Update Successfully',
              type: 'success',
              duration: 2000
            })
          })
        }
      })
    },
    handleDelete(row, index) {
        this.$confirm('Are you sure you want to delete the current data', 'Warning', {
        confirmButtonText: 'Confirm',
        cancelButtonText: 'Cancel',
        type: 'warning'
      }).then(async() => {
         this.listLoading = true
         deletePostcode(row.id).then(res => {
            this.$message.success('Delete success.')
            this.list.splice(index, 1)
            this.listLoading = false
           }).catch(err => {
             this.listLoading = false
             this.$message.errror(err.message)
             })
          }).catch(err => { console.error(err) })
    },
    handleFetchPv(pv) {
      fetchPv(pv).then(response => {
        this.pvData = response.data.pvData
        this.dialogPvVisible = true
      })
    },
    handleDownload() {
      this.downloadLoading = true
      import('@/vendor/Export2Excel').then(excel => {
        const tHeader = ['timestamp', 'title', 'type', 'importance', 'status']
        const filterVal = ['timestamp', 'title', 'type', 'importance', 'status']
        const data = this.formatJson(filterVal)
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'table-list'
        })
        this.downloadLoading = false
      })
    },
    formatJson(filterVal) {
      return this.list.map(v => filterVal.map(j => {
        if (j === 'timestamp') {
          return parseTime(v[j])
        } else {
          return v[j]
        }
      }))
    },
    getSortClass: function(key) {
      const sort = this.listQuery.sort
      return sort === `+${key}` ? 'ascending' : 'descending'
    },
    handleChange(val) {
        console.log(val);
      }
  }
}
</script>
