<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input v-model="listQuery.id" placeholder="Plugin ID" style="width: 140px;" class="filter-item" @keyup.enter.native="handleFilter" />
      <el-input v-model="listQuery.shipping_method_id" placeholder="ShippingMethod ID" style="width: 160px;" class="filter-item" @keyup.enter.native="handleFilter" />
      <el-input v-model="listQuery.name" placeholder="Name" style="width: 200px;" class="filter-item" @keyup.enter.native="handleFilter" />
      <!-- <el-select v-model="listQuery.importance" placeholder="Imp" clearable style="width: 90px" class="filter-item">
        <el-option v-for="item in importanceOptions" :key="item" :label="item" :value="item" />
      </el-select> -->
      <el-select v-model="listQuery.category_id" placeholder="Category" clearable class="filter-item" style="width: 130px">
        <el-option v-for="item in calendarTypeOptions" :key="item.key" :label="item.display_name+'('+item.key+')'" :value="item.key" />
      </el-select>
      <el-select v-model="listQuery.visible" placeholder="Visible" clearable class="filter-item" style="width: 130px">
        <el-option v-for="item in visibleTypeOptions" :key="item.key" :label="item.display_name+'('+item.key+')'" :value="item.key" />
      </el-select>
      <el-select v-model="listQuery.status" placeholder="Status" clearable class="filter-item" style="width: 130px">
        <el-option v-for="item in statusTypeOptions" :key="item.key" :label="item.display_name+'('+item.key+')'" :value="item.key" />
      </el-select>
      <el-select v-model="listQuery.sort" style="width: 140px" class="filter-item" @change="handleFilter">
        <el-option v-for="item in sortOptions" :key="item.key" :label="item.label" :value="item.key" />
      </el-select>
      <el-button v-waves class="filter-item" style="margin-left: 10px;" type="primary" icon="el-icon-search" @click="handleFilter">
        Search
      </el-button>
      <el-button class="filter-item" style="margin-left: 10px;" type="primary" icon="el-icon-edit" @click="handleCreate">
        Add
      </el-button>
      <!-- <el-button v-waves :loading="downloadLoading" class="filter-item" type="primary" icon="el-icon-download" @click="handleDownload">
        Export
      </el-button> -->
      <!-- <el-checkbox v-model="showReviewer" class="filter-item" style="margin-left:15px;" @change="tableKey=tableKey+1">
        reviewer
      </el-checkbox> -->
    </div>

    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="list"
      fit
      highlight-current-row
      style="width: 100%; margin-top:10px"
      height="760"
      @sort-change="sortChange"
    >
      
      <el-table-column label="ID" fixed prop="id" sortable="custom" width="80" :class-name="getSortClass('id')">
        <template slot-scope="{row}">
          <span>{{ row.id }}</span>
        </template>
      </el-table-column>
      <!-- <el-table-column label="Date" width="150px">
        <template slot-scope="{row}">
          <span>{{ row.timestamp | parseTime('{y}-{m}-{d} {h}:{i}') }}</span>
        </template>
      </el-table-column> -->
      <el-table-column label="Name" width="150px">
        <template slot-scope="{row}">
          <el-tag>{{ row.category_id | typeFilter }}</el-tag> 
          <span class="link-type" @click="handleUpdate(row)">{{ row.name }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Title" width="150px">
        <template slot-scope="{row}">
          <span class="link-type" @click="handleUpdate(row)">{{ row.title }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Url" width="180px">
        <template slot-scope="{row}">
          <span>{{ row.url }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Settings" min-width="110px">
        <template slot-scope="{row}">
          <span>{{ row.settings }}</span>
        </template>
      </el-table-column>
      <!-- <el-table-column label="Description" width="110px">
        <template slot-scope="{row}">
          <span>{{ row.description }}</span>
        </template>
      </el-table-column> -->
      <el-table-column label="Fee" width="80px">
        <template slot-scope="{row}">
          <span>{{ row.fee }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Visible" width="70px">
        <template slot-scope="{row, $index}">
          <el-tooltip :content="row.visible | visibleFilter" placement="top">
            <el-switch v-model="row.visible" :active-value="1" :inactive-value="0" @change="handleUpdateVisible(row, $index)" ></el-switch>
          </el-tooltip>
        </template>
      </el-table-column>
      <!-- <el-table-column v-if="showReviewer" label="Reviewer" width="110px">
        <template slot-scope="{row}">
          <span style="color:red;">{{ row.reviewer }}</span>
        </template>
      </el-table-column> -->
      <!-- <el-table-column label="Imp" width="80px">
        <template slot-scope="{row}">
          <svg-icon v-for="n in + row.importance" :key="n" icon-class="star" class="meta-item__icon" />
        </template>
      </el-table-column> -->
      <!-- <el-table-column label="Readings" width="95">
        <template slot-scope="{row}">
          <span v-if="row.pageviews" class="link-type" @click="handleFetchPv(row.pageviews)">{{ row.pageviews }}</span>
          <span v-else>0</span>
        </template>
      </el-table-column> -->
      <el-table-column label="Status" class-name="status-col" width="100px">
        <template slot-scope="{row}">
          <el-tag :type="row.status | statusTag">
            {{ row.status | statusFilter }}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="children" type="expand" width="135" label="ShippingMethod">
        <template slot-scope="slots">
          <el-table
            :data="slots.row.shipping_method"
            style="width: 100%;"
            height="500"
            :header-cell-style="{background:'#DCDFE6',color:'#606266'}"
          >
            <el-table-column prop="id" fixed label="SM ID" width="80"/>
            <el-table-column prop="name" label="Name" min-width="60"/>
            <el-table-column prop="indexName" label="IndexName" min-width="80"/>
            <el-table-column prop="serviceProvider" label="ServiceProvider" min-width="80"/>
            <el-table-column prop="url_quote" label="Url Quote" min-width="100"/>
            <el-table-column prop="url_solid" label="Url Solid" min-width="80"/>
            <el-table-column prop="url_submit" label="Url Submit" min-width="80"/>
            <el-table-column prop="url_deleteLabel" label="Url DeleteLabel" min-width="80"/>
            <el-table-column prop="url_closeManifest" label="Url CloseManifest" min-width="80"/>
            <el-table-column prop="settings" label="Settings" width="80"/>
            <el-table-column prop="quoteComponent" label="QuoteComponent" width="80"/>
            <el-table-column prop="international_method" label="International Method" width="80"/>
            <el-table-column prop="displayName" label="DisplayName" width="80"/>
            <el-table-column prop="logo" fixed="right" label="Logo" min-width="40"/>
            <!-- <el-table-column label="操作" width="200">
              <template slot-scope="scope">
                <el-button type="text" class="danger-text" @click="handle_delete(scope.row)">删除</el-button>
              </template>
            </el-table-column> -->
          </el-table>
        </template>
      </el-table-column>
      <el-table-column fixed="right" label="Actions" width="180" class-name="small-padding fixed-width"  align="center">
        <template slot-scope="{row,$index}">
          <el-button type="success" title="Subscription" size="mini" @click="handleSubscription(row)" icon="el-icon-collection-tag"></el-button>
          <el-button type="primary" title="Edit" size="mini" @click="handleUpdate(row)" icon="el-icon-edit"></el-button>
          <el-button type="danger" title="Delete" v-if="row.status!='deleted'" size="mini" icon="el-icon-delete" @click="handleDelete(row,$index)"></el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.limit" @pagination="getList" />

    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible">
      <el-form v-if="dialogStatus != 'subscription'" ref="dataForm" :rules="rules" :model="temp" label-position="right" label-width="128px" style="width: 400px; margin-left:50px;">
        <el-form-item label="Name" prop="title">
          <el-input v-model="temp.name" />
        </el-form-item>
        <el-form-item label="Title" prop="title">
          <el-input v-model="temp.title" />
        </el-form-item>
        <el-form-item label="Url" prop="title">
          <el-input v-model="temp.url" />
        </el-form-item>
        <el-form-item label="Fee" prop="title">
          <el-input v-model="temp.fee" />
        </el-form-item>
        <el-form-item label="Category" prop="title">
          <el-select v-model="temp.category_id" class="filter-item" placeholder="Please select">
            <el-option v-for="item in calendarTypeOptions" :key="item.key" :label="item.display_name" :value="item.key" />
          </el-select>
        </el-form-item>
        <!-- <el-form-item label="Date" prop="timestamp">
          <el-date-picker v-model="temp.timestamp" type="datetime" placeholder="Please pick a date" />
        </el-form-item> -->
        <el-form-item label="Visible" prop="title">
          <el-select v-model="temp.visible" class="filter-item" placeholder="Please select">
            <el-option v-for="item in visibleTypeOptions" :key="item.key" :label="item.display_name" :value="item.key" />
          </el-select>
        </el-form-item>
        <el-form-item label="Status" prop="title">
          <el-select v-model="temp.status" class="filter-item" placeholder="Please select">
            <el-option v-for="item in statusTypeOptions" :key="item.key" :label="item.display_name" :value="item.key" />
          </el-select>
        </el-form-item>
        <el-form-item label="Description" prop="title">
          <el-input v-model="temp.description" />
        </el-form-item>
        <el-form-item label="DetailDescription">
          <el-input v-model="temp.detailDescription" :autosize="{ minRows: 2, maxRows: 4}" type="textarea" placeholder="Please input" />
        </el-form-item>
        <!-- <el-form-item label="Imp">
          <el-rate v-model="temp.importance" :colors="['#99A9BF', '#F7BA2A', '#FF9900']" :max="3" style="margin-top:8px;" />
        </el-form-item> -->
        <el-form-item label="Settings">
          <el-input :value="fomatFn(temp.settings)" :autosize="{ minRows: 2, maxRows: 4}" type="textarea" placeholder="Please input" />
        </el-form-item>
      </el-form>
      <el-form v-if="dialogStatus === 'subscription'" ref="subscriptionForm" :rules="rules" :model="temp" label-position="right" label-width="128px" style="width: 400px; margin-left:50px;">
        <el-form-item label="Plugin ID">
          <el-input v-model="temp.id" :disabled="true" />
        </el-form-item>
        <el-form-item label="Plugin Name">
          <el-input v-model="temp.name" :disabled="true" />
        </el-form-item>
        <el-form-item label="Account ID">
          <el-input v-model="temp.account_id" placeholder="Account ID" />
        </el-form-item>
        <el-form-item label="Account Email">
          <el-input v-model="temp.account_email" placeholder="Account ID / Account Email" />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">
          Cancel
        </el-button>
        <el-button type="primary" @click="dialogStatus==='subscription' ? subscriptionData() : (dialogStatus==='create'?createData():updateData())">
          Confirm
        </el-button>
      </div>
    </el-dialog>

    <el-dialog :visible.sync="dialogPvVisible" title="Reading statistics">
      <el-table :data="pvData" border fit highlight-current-row style="width: 100%">
        <el-table-column prop="key" label="Channel" />
        <el-table-column prop="pv" label="Pv" />
      </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="dialogPvVisible = false">Confirm</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { fetchList, fetchPv, createPlugin, updatePlugin, deletePlugin, subscriptionPlugin, updateVisible } from '@/api/plugin/index'
import waves from '@/directive/waves' // waves directive
import { parseTime } from '@/utils'
import Pagination from '@/components/Pagination' // secondary package based on el-pagination

const calendarTypeOptions = [
  { key: 1, display_name: 'Basic' },
  { key: 2, display_name: 'Courier' },
  { key: 3, display_name: 'Store' },
  { key: 4, display_name: 'Third Party' },
  { key: 5, display_name: 'Others' },
  { key: 6, display_name: 'Eiz-tool' },
  { key: 7, display_name: 'Eiz-version' }
]

const visibleTypeOptions = [
  { key: 1, display_name: 'Display' },
  { key: 0, display_name: 'Hide' }
]
const statusTypeOptions =[
  { key: 1, display_name: 'Published' },
  { key: 2, display_name: 'Draft' },
  { key: 0, display_name: 'Deleted' }
]

// arr to obj, such as { CN : "China", US : "USA" }
const calendarTypeKeyValue = calendarTypeOptions.reduce((acc, cur) => {
  acc[cur.key] = cur.display_name
  return acc
}, {})

const visibleTypeKeyValue = visibleTypeOptions.reduce((acc, cur) => {
  acc[cur.key] = cur.display_name
  return acc
}, {})

const statusTypeKeyValue = statusTypeOptions.reduce((acc, cur) => {
  acc[cur.key] = cur.display_name
  return acc
}, {})

export default {
  name: 'ComplexTable',
  components: { Pagination },
  directives: { waves },
  filters: {
    statusTag(status) {
      const statusMap = {
        1: '',
        2: 'info',
        0: 'danger'
      }
      return statusMap[status]
    },
    statusFilter(status) {
      return statusTypeKeyValue[status]
    },
    visibleFilter(visible){
      return visibleTypeKeyValue[visible]
    },
    typeFilter(type) {
      return calendarTypeKeyValue[type]
    }
  },
  data() {
    return {
      tableKey: 0,
      list: null,
      total: 0,
      listLoading: true,
      listQuery: {
        page: 1,
        limit: 20,
        importance: undefined,
        title: undefined,
        type: undefined,
        sort: '+id'
      },
      importanceOptions: [1, 2, 3],
      calendarTypeOptions,
      visibleTypeOptions,
      statusTypeOptions,
      sortOptions: [{ label: 'ID Ascending', key: '+id' }, { label: 'ID Descending', key: '-id' }],
      // showReviewer: false,
      temp: {
        id: undefined,
        importance: 1,
        remark: '',
        timestamp: new Date(),
        title: '',
        type: '',
        status: 'Published'
      },
      dialogFormVisible: false,
      dialogStatus: '',
      textMap: {
        subscription: 'Subscription',
        update: 'Edit',
        create: 'Create'
      },
      dialogPvVisible: false,
      pvData: [],
      rules: {
        type: [{ required: true, message: 'type is required', trigger: 'change' }],
        timestamp: [{ type: 'date', required: true, message: 'timestamp is required', trigger: 'change' }],
        title: [{ required: true, message: 'title is required', trigger: 'blur' }]
      },
      downloadLoading: false,
    }
  },
  created() {
    this.getList()
  },
  methods: {
    getList() {
      this.listLoading = true
      fetchList(this.listQuery).then(response => {
        const { items, total } = response.data;
        this.list = items
        this.total = total
        this.listLoading = false
        // Just to simulate the time of the request
        // setTimeout(() => {
        // }, 1.5 * 1000)
      })
    },
    handleFilter() {
      this.listQuery.page = 1
      this.getList()
    },
    handleModifyStatus(row, status) {
      this.$message({
        message: '操作Success',
        type: 'success'
      })
      row.status = status
    },
    sortChange(data) {
      const { prop, order } = data
      if (prop === 'id') {
        this.sortByID(order)
      }
    },
    sortByID(order) {
      if (order === 'ascending') {
        this.listQuery.sort = '+id'
      } else {
        this.listQuery.sort = '-id'
      }
      this.handleFilter()
    },
    resetTemp() {
      this.temp = {
        id: undefined,
        importance: 1,
        remark: '',
        timestamp: new Date(),
        title: '',
        status: 'Published',
        type: ''
      }
    },
    handleCreate() {
      this.resetTemp()
      this.dialogStatus = 'create'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    createData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          this.temp.id = parseInt(Math.random() * 100) + 1024 // mock a id
          this.temp.author = 'vue-element-admin'
          createPlugin(this.temp).then(() => {
            this.list.unshift(this.temp)
            this.dialogFormVisible = false
            this.$notify({
              title: 'Success',
              message: 'Created Successfully',
              type: 'success',
              duration: 2000
            })
          })
        }
      })
    },
    handleUpdate(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.temp.timestamp = new Date(this.temp.timestamp)
      this.dialogStatus = 'update'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    updateData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          const tempData = Object.assign({}, this.temp)
          tempData.timestamp = +new Date(tempData.timestamp) // change Thu Nov 30 2017 16:41:05 GMT+0800 (CST) to 1512031311464
          updatePlugin(tempData).then(() => {
            const index = this.list.findIndex(v => v.id === this.temp.id)
            this.list.splice(index, 1, this.temp)
            this.dialogFormVisible = false
            this.$notify({
              title: 'Success',
              message: 'Update Successfully',
              type: 'success',
              duration: 2000
            })
          })
        }
      })
    },
    handleDelete(row, index) {
        this.$confirm('Are you sure you want to delete the current data', 'Warning', {
        confirmButtonText: 'Confirm',
        cancelButtonText: 'Cancel',
        type: 'warning'
      }).then(async() => {
         this.listLoading = true
         deletePlugin(row.id).then(res => {
            this.$message.success('Delete success.')
            this.list.splice(index, 1)
            this.listLoading = false
           //  this.$notify({
            //       title: 'Success',
            //       message: 'Delete Successfully',
            //       type: 'success',
            //       duration: 2000
            //     })
           }).catch(err => {
             this.listLoading = false
             this.$message.errror(err.message)
             })
          }).catch(err => { console.error(err) })
    },
    handleFetchPv(pv) {
      fetchPv(pv).then(response => {
        this.pvData = response.data.pvData
        this.dialogPvVisible = true
      })
    },
    handleDownload() {
      this.downloadLoading = true
      import('@/vendor/Export2Excel').then(excel => {
        const tHeader = ['timestamp', 'title', 'type', 'importance', 'status']
        const filterVal = ['timestamp', 'title', 'type', 'importance', 'status']
        const data = this.formatJson(filterVal)
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'table-list'
        })
        this.downloadLoading = false
      })
    },
    formatJson(filterVal) {
      return this.list.map(v => filterVal.map(j => {
        if (j === 'timestamp') {
          return parseTime(v[j])
        } else {
          return v[j]
        }
      }))
    },
    getSortClass: function(key) {
      const sort = this.listQuery.sort
      return sort === `+${key}` ? 'ascending' : 'descending'
    },
    fomatFn(val) {
      return JSON.stringify(val)
    },
    handleSubscription(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.temp.timestamp = new Date(this.temp.timestamp)
      this.dialogStatus = 'subscription'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['subscriptionForm'].clearValidate()
      })
    },
    subscriptionData() {
      this.$refs['subscriptionForm'].validate((valid) => {
        if (valid) {
          const tempData = Object.assign({}, this.temp)
          var data = {
            'plugin_id':this.temp.id,
            'plugin_name':this.temp.name,
            'account_id':tempData.account_id,
            'account_email':tempData.account_email,
          };
          subscriptionPlugin(data).then(() => {
            const index = this.list.findIndex(v => v.id === this.temp.id)
            this.list.splice(index, 1, this.temp)
            this.dialogFormVisible = false
            this.$notify({
              title: 'Success',
              message: 'Subscription Successfully',
              type: 'success',
              duration: 2000
            })
          })
        }
      })
    },
    handleUpdateVisible(row, index){
      var visible = row.visible;
      var visibleStr = visible == 1 ? 'display' : 'hide';
      this.$confirm('Are you sure you want to '+ visibleStr +' the current data?', 'Warning', {
        confirmButtonText: 'Confirm',
        cancelButtonText: 'Cancel',
        type: 'warning'
      }).then(async() => {
         this.listLoading = true
         var data = {
           'id': row.id,
           'visible': visible
         }
         updateVisible(data).then(res => {
            row.visible = row.visible === 1 ? 0: 1;
            this.getList()
            this.$message.success('Update success.')
           }).catch(err => {
              row.visible = row.visible === 1 ? 0: 1;
             this.listLoading = false
             this.$message.errror(err.message)
             })
          }).catch(err => {
              row.visible = row.visible === 1 ? 0: 1;
            })
    }
  }
}
</script>
